@import "../../scss/helpers/mixins.scss";
@import "../../scss/helpers/variables.scss";

.navigation {
  background-color: $basic-decore-color;
  border-bottom: 1px solid #b8b8b8;

  font-family: $main-font-family;

  &__wrapper {
    padding: 30px 65px;
    max-width: 1440px;
    margin: 0 auto;
    @include flex(center, space-between, row);
    flex-wrap: wrap;

    @media screen and (max-width: $desktop) {
      padding: 30px 40px;
    }

    @media screen and (max-width: $tablet) {
      padding: 15px 20px;
    }
  }

  &__logo {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $headers1-text-color;

    @media screen and (max-width: $tablet) {
      font-size: 22px;
      line-height: 38px;
    }
  }

  &__menu-container {
    position: absolute;
    top: 80px;
    right: 0;
    height: max-content;
    padding: 30px 40px;

    display: none;
    flex-direction: column;
    align-items: center;

    background-color: $headers2-text-color;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    @media screen and (min-width: $tablet-bigger) {
      @include flex(center, center, row);
      position: relative;
      padding-inline: 0px;
      top: 0px;
      height: 0px;
      background-color: initial;
    }
  }

  &__menu-container.active {
    display: flex;
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    list-style: none;

    @media screen and (min-width: $tablet-bigger) {
      @include flex(center, center, row);
      gap: 38px;
      margin-right: 18px;
      margin-bottom: 0px;
    }

    &-item {
      text-align: center;
      width: 100%;
      padding: 10px;

      @media screen and (min-width: $tablet-bigger) {
        padding: 0px;
        width: max-content;
      }
    }

    &-link {
      @include font(20px, 500, $general-background-color);
      line-height: 24px;
      color: #fff;
      text-decoration: none;
      transition-duration: 0.4s;

      @media screen and (min-width: $tablet-bigger) {
        @include font(16px, 500, $general-background-color);
      }

      &:hover {
        color: rgb(255, 0, 0);
      }
    }
  }

  &__buttons-container {
    padding-left: 18px;
    @include flex(center, center, row);
    gap: 30px;

    border-left: 1px solid white;

    @media screen and (max-width: $tablet-bigger) {
      border-left: none;
      padding-left: 0px;
    }
  }

  &__register-button {
    @include font(16px, 500, $general-background-color);
    padding: 0;
    line-height: 24px;
    text-decoration: underline;
    transition-duration: 0.4s;
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      color: rgb(255, 0, 0);
    }
  }

  &__login-button {
    min-width: 82px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-family: $main-font-family;
    line-height: 21px;
    letter-spacing: -3%;
    @include font(14px, 500, $headers1-text-color);

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.542);
    }
  }
}

.active {
  font-weight: 600;
  color: $basic-text-color;
}

.navigation-button {
  position: absolute;
  width: 30px;
  height: 30px;

  border-radius: 3px;
  background-color: transparent;
  border: none;
  transform: translateY(0%);
  right: 35px;

  @media screen and (min-width: $tablet-bigger) {
    display: none;
  }
}

.navigation-span {
  position: absolute;
  background-color: white;

  top: 14px;
  left: 4px;
  width: 22px;
  height: 2px;

  border-radius: 2px;
  transition: all 0.5s;
}

.navigation-button::before,
.navigation-button::after {
  content: "";
  background-color: white;
  position: absolute;
  left: 4px;
  width: 22px;
  height: 2px;

  border-radius: 2px;
  transition: all 0.5s;
}

.navigation-button::before {
  top: 4px;
}

.navigation-button::after {
  bottom: 4px;
}

.navigation-button.active::before {
  transform: rotate(45deg);
  top: 14px;
}

.navigation-button.active span {
  display: none;
}

.navigation-button.active::after {
  transform: rotate(-45deg);
  top: 14px;
}

.popup {
  padding: 10px;
  width: 300px;
  height: max-content;
  position: absolute;
  background-color: #8c8787;
  color: $header-unselected-items-color;
  top: 80%;
  left: 50%;

  transform: translateX(-50%);
  border-radius: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18;
  line-height: 24px;
  font-weight: 600;
  text-align: center;

  @media screen and (min-width: $tablet) and (max-width: $tablet-bigger) {
    top: 40%;
  }
}
